aclocal-msys.m4.diff
aclocal-po.m4.diff
aclocal-rm.m4.diff
encodefilter/util/src
man1
script/config.guesssub.sh
tool/mlconfig/po/ar.gmo
tool/mlconfig/po/de.gmo
tool/mlconfig/po/ja.gmo
tool/mlconfig/po/mlconfig.pot
tool/mlconfig/po/vi.gmo
tool/mlconfig/po/zh_TW.gmo
tool/mlconfig/po/*.po
tool/mlconfig/po/*.po~
tool/mlconfig/po/remove-potcdate.sed
*.o
*.lo
*.la
config.log
config.status
lib*.a
**/Makefile
**/Makefile.in
libtool
**/.libs
BUILD_SUCCESS
main/mlterm
baselib/include/
baselib/src/bl_config.h
baselib/src/collect-headers
baselib/src/stamp-h2
common/c_config.h
common/stamp-h1
contrib/tool/mlcc/mlcc
contrib/tool/mlterm-menu/mlterm-menu
encodefilter/include/
encodefilter/src/collect-headers
main/version.h
tool/mlclient/mlclient
tool/mlclient/mlclientx
tool/mlconfig/mlconfig
tool/mlconfig/po/POTFILES
tool/mlfc/mlfc
tool/mlimgloader/mlimgloader
